$legacy-support-for-ie: false;
$text-transform: none;

$line-height-heading: 1.1;

$white: #ffffff;
$black: #000000;

$blue: #446179;
$blue1: $blue;
$blue2: #45818e;
$blue3: #034f66;
$blue4: #76d3d3;
$blue-dark: #034f66;

$terre1: #796c5e;
$terre2: #b9a48e;
$terre3: #796c5e;
$terre4: #ee6241;

$green1: #313f2b;
$green2: #86a178;
$green3: #436235;
$green4: #a4c051;

$color1: $black;
$color2: $terre1;
$color3: $blue;
$color4: $green1;

$button-color: $terre3;
$button-background-color: $green2;

$headline-size-1: 2.86667em;
$headline-size-2: 3em;
$headline-size-3: 1.8em;
$headline-size-4: 1.6em;
$headline-size-5: 1.4em;
$headline-size-6: 1.2em;