$legacy-support-for-ie: false;
$text-transform: none;

$font-weight2: 700;
$line-height-heading: 1.1;

$white: #ffffff;
$black: #000000;
$blue: #125994;
$blue-dark: #125994;
$blue2: #1b86df;

$color1: $black;
$color2: $blue;
$color3: $blue2;

$button-color: $black;
$button-background-color: $white;