@import "variables_client";
@import "variables";
@import "custom";

.text-intro {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight2 !important;
    line-height: $line-height-heading;
}

.module-cookiebar-opener a {
    color: $black;
}

.button {
    border: 2px solid $button-color;

    &:hover,
    &:focus {
        background-color: $button-color;
        color: $button-background-color
    }
}

.skew{
    margin: -70px auto;
    transform: skewY(-3deg);
    > .master-wrapper{
        transform: skewY(3deg); 
        > .centered-wrapper-background, .centered-wrapper-gradient{
            top: -110px;
            bottom: -110px;
        }
    }
}

.header-bar {
    .mod_customnav {
        &.header-dropdown {
            .nolink {
                strong {
                    background-color: $color1;
                    color: $white !important;
                }

            }
        }
    }
}

.header {
    text-align: center;

    >.centered-wrapper {
        .centered-wrapper-background {
            opacity: 0;
            transform: scale(1);
            transition: all 10s ease-in-out;

        }

        .header-logo {
            .text-intro {
                opacity: 0;
                transform: translateY(50px);
                transition: all 1s ease-in-out;
                display: block;
                transition-delay: 2s;
            }

            img {
                opacity: 0;
                transform: translateY(-20px);
                transition: all 2s ease-in-out;
                transition-delay: 3s;
            }
        }
    }

    &.in-view {
        >.centered-wrapper {
            .centered-wrapper-background {
                opacity: .4;
                transform: scale(1.3);
                transform-origin: center;
            }

            img,
            .text-intro {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.header-bar {
    .icon-links {
        margin: 3px 0;
    }
}
.icon-links.social{
    li{
        a{
            background: $white;
            &:before{
                color: $black;
            }
        }
    }
}
.tagline{
    .tagline-inner{
        .breadcrumbs-wrapper{
            background : url("/files/images/backgrounds/bitume.jpg") repeat center center;
        }
    }
}
.content-wrapper{
    position: relative;
    z-index: 2;
}
.home {
    .page-header {
        overflow: hidden;
        background: $black;
        padding-top: 0 !important;


        @include mediaquery(tablet) {
            .main-navigation-wrapper {
                border: none;

                .left-navigation-wrapper {
                    display: none !important;
                }
            }

        }

        .navigation-wrapper {
            @include mediaquery(tablet) {
                margin-top: 0;
            }
        }

        .main-navigation {
            @include mediaquery-min(tablet) {
                padding: 0;
            }
            >ul {
                >li {
                    &.home {
                        display: none;
                    }
                }
            }
        }
    }

    .logo {
        background: url("/files/images/common/logo.png") center center no-repeat;
        background-size: contain;

        img {
            transition: all 0.5s ease-in-out;
        }
    }

    &.scroll {
        .logo {
            img {
                opacity: 0;
            }
        }
    }

    &:not(.scroll) {

        .icon-links:not(.social) {
            a:before, .icon-links-label{
                color: $white !important;        
            }
        }
        .main-navigation-wrapper,
        .header-bar {
            background: none;
            border: none;
        }

        .main-navigation {
            >ul {
                >li {

                    a,
                    strong.active,
                    span.trail,
                    span.active,
                    span.forward,
                    >strong {
                        color: $white;

                        &:after {
                            display: none !important;
                        }

                        &:hover,
                        &:focus {
                            background: $white;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}
.mask{
    img{
        mask-repeat: no-repeat;
        mask-position: center;
        max-width: 100%;
        display: block;
        aspect-ratio: 1;
        object-fit: cover;
        mask-size: 100%;
        mask-mode: luminance;
    }
    // --- Génération des classes spécifiques ---

    // On crée une boucle qui va de 1 "through" (jusqu'à) 10
    @for $i from 1 through 20 {
        // Le sélecteur est généré : &.mask1, &.mask2, etc.
        // La variable #{$i} est interpolée pour devenir le chiffre
        &.mask#{$i} {
            img {
                // L'URL du masque est générée de la même manière 
                mask-image: url("/files/images/masks/mask#{$i}.png");
            }
        }
    }
}

.icon-boxes{
    .icon-boxes-item{
        .icon-boxes-item-text{
            color : $black;
        }
    }
}
.voyages-list{
  display: grid;
  
  /* Crée 4 colonnes de taille égale */
  grid-template-columns: repeat(4, 1fr); 
  
  /* Ajoute un espace entre les lignes et les colonnes */
  gap: 20px; /* ou row-gap et column-gap séparémen²t */
  padding: $gutter-width;
  .voyage-content{
    margin-bottom: 15px;
  }
}   
.voyages-master {
    position: relative;
    padding: $gutter-width;
    box-shadow: -5px -20px 15px rgba($black, 0.2);
    .bb{
        padding: 5px 0 0;
        margin: 5px 0 0;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: $grey-medium;
    }
    .voyage-archive{
        position: relative;
        z-index: 2;
        margin-top: -10px;
        padding: 5px;
        background: $white;
        color: $black;
        display: inline-block;
        top: -25px;
        border-radius: 10px;
        left: 10px;
    }
    .voyage-title {
        margin-top: 0;
    }
    .voyage-wrapper{
        .voyage-region{
            position: absolute;
            top: -10px;
            right: -10px;
            background: $color1;
            color: $white;
            padding: 0.25rem 0.5rem;
            border-radius: 10px;
            
            i {
                margin-right: 0.25rem;
            }
        }
        .voyage-duree{
        }
        .voyage-dates{
            .voyage-dates-liste{
                margin-top: 5px;
                margin-bottom: 0;
            }
        }
    }

}
.voyage_full {
    > .centered-wrapper{
        > .centered-wrapper-innner{
            margin: 50px $gutter-width;
        }   
    }
    .voyage-top-infos{
        display: flex;
        gap: 5px;
        .voyage-region, .voyage-duree {
            background: $black;
            color: $white;
            z-index: 1;
            padding: 5px !important;
            border: none;
            margin: 0 !important; 
        }
    }
    .voyage-header{
        position: relative;
        .image_container{
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        .centered-wrapper-inner{
            position: relative;
            z-index: 2;
            padding-bottom: 25px;
            .voyage-title-wrapper{
                z-index: 2;
                padding: 300px 550px 50px $gutter-width;
                .voyage-title{
                    font-size: 3em;
                }
                .voyage-title, .voyage-subtitle{
                    color: $white;
                    text-shadow: 1px 1px 4px rgba($black, 0.7);
                    margin: 5px 0;
                }
                padding-bottom: 5px;
                .voyage-archive{
                    color: $white;
                    border-top: 1px solid rgba($black, 0.2);
                }
            }
        }
        &:after{
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba($black, 0.6), rgba($black, 0));
            z-index: 1;
        }

    }
    .voyage-wrapper{
        padding: 0 $gutter-width;
    }
    .voyage-content{
        position: relative;
        .voyage-content-wrapper{
            margin-bottom: $gutter-width;
            position: absolute;
            width: 500px;
            right: 0;
            bottom: 50px;
            color: $white;
            background: rgba($black, 0.5);    
            background: linear-gradient(90deg, rgba(0, 0, 0, .7) 28%, rgba(0, 0, 0, 0) 100%);
            z-index: 3;
            padding: 1rem;
        }
        .bb{
            &:not(.brand), &:not(.voyage-duree), &:not(.voyage-region){
                padding: 5px 0 0;
                margin: 5px 0 0;
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: rgba($white, 0.2);
            }
        }
    }
    .voyage-detail { 
        .voyage-programme {
            .programme-jour {
                display: flex;
                flex-direction: column;
                padding: $gutter-width;
                margin-bottom: $gutter-width;
                border-left: 5px solid currentColor;
                border-radius: 0.25rem;
            }
        }

        // Prix et inclusions - Utilise Grid
        .voyage-prix-inclusions {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.5rem; // Remplacer par ta variable $spacing-unit
            
            // Trois colonnes sur tablette/desktop
            @media (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
                
                // Règle ajoutée : Le H2 doit couvrir les 3 colonnes (de la ligne 1 à la fin)
                & > h2 { 
                    grid-column: 1 / span 3;
                }
            }

            .prix-box, .inclusions-box, .exclusions-box {
                padding: 1.5rem;
                border: 1px dashed currentColor;
                border-radius: 0.25rem;
            }
        }

        // Galerie photos - Utilise Grid pour une mise en page réactive
        .gallery-container {
            display: grid;
            // Répète les colonnes, minimum 250px de large par photo
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.5rem;

            .gallery-item {
                overflow: hidden;
                border-radius: 0.5rem;
                // On enlève le box-shadow
            }
        }
    }
    .back{
        text-align: center;
        margin: 50px 25px;
    }
}
.mod_newsreader{
    .back{
        text-align: center;
        margin: 50px 25px; 
    }
}