/*
TypeError: String can't be coerced into Integer

Backtrace:
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/value/number.rb:408:in `-'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/value/number.rb:408:in `basically_equal?'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/value/number.rb:402:in `basically_equal?'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/value/number.rb:225:in `eql?'
/home/pouet/.rvm/rubies/ruby-2.7.2/lib/ruby/2.7.0/set.rb:244:in `include?'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:54:in `block in _perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `map'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `_perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:53:in `block in _perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `map'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `_perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:53:in `block in _perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `map'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/map_literal.rb:52:in `_perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:173:in `perform_arg'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:124:in `each'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:124:in `each'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:124:in `map'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:124:in `_perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:472:in `visit_variable'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/engine.rb:285:in `block in render'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/util.rb:518:in `silence_sass_warnings'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/engine.rb:285:in `render'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/pouet/.rvm/gems/ruby-2.7.2/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "TypeError: String can't be coerced into Integer"; }
