.voyage-organisateur-logo {
    display: block;
    max-width: 200px !important;
    margin: 50px 0;

}
.date-deadline{
    display: block;
    font-size: .6em;
}
.headline-box {
    .subhealine {
        font-size: 1.8em;
    }
}